{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/home.css' %}"
/>
{% endblock %} {% block content %}

<section class="logo-container">
  <div class="army-container">
    <img
      src="{% static 'images/game_logger_logo_big.png' %}"
      alt="The Game Logger Cavalryman"
    />
  </div>
  <img
    src="{% static 'images/game_logger_banner_altered_3.png' %}"
    alt="Text reads: Game Logger"
  />
</section>

{% if not user.is_authenticated %}
<section>
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %} {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>
{% endif %}

{% endblock %}